<mat-toolbar color="accent" class="d-flex justify-content-around">
  <a *ngIf="userService.user == undefined" class="text-white" routerLink="/login">Online Food Order</a>
  <a *ngIf="userService.user != undefined" class="text-white" routerLink="/home">Online Food Order</a>
  <div *ngIf="userService.user != undefined">
    <button routerLink="/home" mat-button>Restaurants</button>
    <button routerLink="/cart" mat-button>My Cart</button>
    <button routerLink="/orders" mat-button>My Orders</button>
    <button routerLink="/profile" mat-button>My Profile</button>
    <button (click)="logout()" mat-button>Log Out</button>
  </div>

</mat-toolbar>
