<div *ngIf="restaurantList!= undefined">
  <div class="container d-flex flex-column align-items-center mt-5">
    <h1 class="mb-4 text-danger fw-bold">Restaurants</h1>
    <mat-card class="d-flex flex-column mb-5 border w-75" [routerLink]="'/restaurants/'+ restaurant.id"
      *ngFor="let restaurant of restaurantList">
      <div class="container">
        <div class="row">
          <div class="col-md-3 d-flex justify-content-center">
            <img src="../../assets/images/{{restaurant.imageUrl}}" width="200px" height="150px">
          </div>
          <div class="col-md-9">
            <mat-card-title class="mt-3 mb-3 ms-5">{{restaurant.name}}</mat-card-title>
            <mat-card-content>
              <h3 class="mt-3 ms-5">Address: {{restaurant.address}}</h3>
              <h3 class="ms-5">Phone: {{restaurant.phone}}</h3>
            </mat-card-content>
          </div>
        </div>
      </div>
    </mat-card>
  </div>
</div>
