<div class="container d-flex flex-column align-items-center mt-5">
  <h1 class="mb-4 text-danger fw-bold">Orders</h1>
  <mat-card class="d-flex flex-column mb-5 border w-50" *ngFor="let order of orderList; let i=index">
    <mat-card-title class="mt-3">Restauant: {{order.restaurantName}}</mat-card-title>
    <mat-card-content>
      <h2 class="mt-4">Products:</h2>
      <div *ngFor="let product of order.products; let j=index" class="row">
        <div class="col-md-10">
          <h3>{{product}}</h3>
        </div>
        <div class="col-md-2">
          <h3 class="text-danger">{{order.prices[j]}}$</h3>
        </div>
      </div>
      <div class="row">
        <div class="col-md-10">
          <h2>Total Price:</h2>
        </div>
        <div class="col-md-2">
          <h2 class="text-danger fw-bold">{{order.totalPrice}}$</h2>
        </div>
      </div>
      <h3>Order Date: {{order.date | date :'medium'}}</h3>
      <div *ngIf="order.rate == 0" class="mb-3" >
        <ngb-rating [formControl]="rateForm"></ngb-rating>
        <div *ngIf="rateForm.valid"></div>
        <div *ngIf="rateForm.invalid" class="text-danger mt-2">Please rate your order</div>
        <button class="mt-2" mat-raised-button color="accent" (click)="rateOrder(i)">Rate</button>
      </div>
      <div *ngIf="order.rate != 0" class="mb-3" >
        <ngb-rating [(rate)]="order.rate" [readonly]=true></ngb-rating>
        <div class="text-success mt-2">Thanks for your rating!</div>
        <button class="mt-2" mat-raised-button color="accent" disabled>Rate</button>
      </div>
    </mat-card-content>
  </mat-card>
  <div class="container d-flex justify-content-center">
    <button (click)="returnBack()" mat-raised-button class="mb-5" color="primary">Back</button>
  </div>
</div>
