<div *ngIf="restaurantService.restaurant != undefined">
  <div class="container d-flex flex-column align-items-center mt-5">
    <h1 class="mb-4 text-danger fw-bold">{{restaurantService.restaurant.name}}</h1>
    <mat-card class="d-flex flex-column mb-5 border w-75" *ngFor="let product of restaurantService.restaurant.products">
      <div class="container">
        <div class="row">
          <div class="col-md-3 d-flex justify-content-center">
            <img src="../../assets/images/{{product.imageUrl}}" width="200px" height="150px">
          </div>
          <div class="col-md-7">
            <mat-card-title class="mt-3 mb-3 ms-5">{{product.name}}</mat-card-title>
            <mat-card-content>
              <h3 class="mt-3 ms-5">Ingredients: {{product.content}}</h3>
              <h3 class="ms-5 text-danger">Price: {{product.price}}</h3>
            </mat-card-content>
          </div>
          <div class="col-md-2">
            <button (click)="addToCart(product.id, product.name)" mat-raised-button class="mt-5" color="accent">Add to Cart</button>
          </div>
        </div>
      </div>
    </mat-card>
    <div class="container d-flex justify-content-center">
      <button (click)="returnBack()" mat-raised-button class="mb-5" color="primary">Back</button>
      <button routerLink="/cart" mat-raised-button class="mb-5 ms-3" color="accent">My Cart</button>
    </div>
  </div>
</div>
