<div class="mt-5 container d-flex flex-column align-items-center justify-content-center border border-3 border-danger w-25">
  <h1 class="mb-4 mt-4 text-danger fw-bold">My Profile</h1>
  <form class="w-75 d-flex flex-column align-items-center" [formGroup]="updateUserForm">
    <mat-form-field class="w-100" appearance="outline">
      <mat-label>E-mail</mat-label>
      <input matInput formControlName="email">
      <mat-error>
        <p *ngIf="control['email'].errors && control['email'].errors['required']">Email is required</p>
        <p *ngIf="control['email'].errors && control['email'].errors['email']">Invalid email format</p>
      </mat-error>
    </mat-form-field>
    <mat-form-field class="w-100" appearance="outline">
      <mat-label>Full Name</mat-label>
      <input matInput formControlName="fullName">
      <mat-error>
        <p *ngIf="control['fullName'].errors && control['fullName'].errors['required']">Full Name is required</p>
      </mat-error>
    </mat-form-field>
    <mat-form-field class="w-100" appearance="outline">
      <mat-label>Address</mat-label>
      <textarea matInput formControlName="address"></textarea>
      <mat-error>
        <p *ngIf="control['address'].errors && control['address'].errors['required']">Address is required</p>
      </mat-error>
    </mat-form-field>
    <mat-form-field class="w-100" appearance="outline">
      <mat-label>Phone Number</mat-label>
      <input matInput formControlName="phone">
      <mat-error>
        <p *ngIf="control['phone'].errors && control['phone'].errors['required']">Phone Number is required</p>
      </mat-error>
    </mat-form-field>
    <mat-form-field class="w-100" appearance="outline">
      <mat-label>Password</mat-label>
      <input type="password" matInput formControlName="password">
      <mat-error>
        <p *ngIf="control['password'].errors && control['password'].errors['required']">Password is required</p>
        <p *ngIf="control['password'].errors && control['password'].errors['minlength']">Password length must be minimum 8 characters </p>
      </mat-error>
    </mat-form-field>
  </form>
  <button (click)="updateAccount()" routerLink="/home" [disabled]="updateUserForm.invalid" mat-raised-button color="accent">Edit profile</button>
  <p class="mt-3">Or</p>
  <button (click)="returnBack()" class="mb-5" mat-raised-button color="primary">Back</button>
</div>
